export(BJSM_binary)
export(BJSM_binary_dose)
export(BJSM_c)
export(c_trialDataGen)
export(data_gen_group_seq_1step)
export(data_gen_group_seq_2step)
export(data_simulation)
export(data_simulation_dose)
export(trial_dataset)
export(trial_dataset_dose)
importFrom(magrittr, "%>%")
importFrom("stats", "coef", "pnorm", "poisson", "qnorm", "rbinom",
               "rnorm", "runif", "sd", "uniroot", "window")
